/*  *{ = "configuração padrão" */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-color: #dddddd;
    padding: 25px;
}
main{
    background-color: #ffffff;
    width: 600px;
    margin: auto;
    padding: 25px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}