/*  *{ = "configuração padrão" */
*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #dddddd;
    padding: 25px;
}
main{
    border-radius: 5px;
    background-color: #ffffff;
    width: 600px;
    margin: auto;
    padding: 25px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 2em;
}
p{
    padding: 25px;
    text-align: justify;
}
img{
    display: block;
    margin: auto;
}
article{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}